rvl_alias "reveal_ist_33" "ws/cpu_clk";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "disp_res_n_o" SITE "33" ;
LOCATE COMP "disp_cs_n_o" SITE "35" ;
LOCATE COMP "disp_addr_o" SITE "32" ;
LOCATE COMP "disp_data_o" SITE "25" ;
LOCATE COMP "disp_sck_o" SITE "27" ;
LOCATE COMP "txd_o" SITE "71" ;
LOCATE COMP "col0l_o" SITE "138" ;
LOCATE COMP "col1l_o" SITE "140" ;
LOCATE COMP "col2lt_o" SITE "20" ;
LOCATE COMP "col2l_o" SITE "92" ;
LOCATE COMP "col3l_o" SITE "39" ;
LOCATE COMP "col4l_o" SITE "40" ;
LOCATE COMP "col0r_o" SITE "67" ;
LOCATE COMP "col1r_o" SITE "65" ;
LOCATE COMP "col2r_o" SITE "62" ;
LOCATE COMP "col3r_o" SITE "61" ;
LOCATE COMP "col4r_o" SITE "60" ;
LOCATE COMP "rowsl_in[0]" SITE "5" ;
LOCATE COMP "rowsl_in[1]" SITE "141" ;
LOCATE COMP "rowsl_in[2]" SITE "95" ;
LOCATE COMP "rowsl_in[3]" SITE "94" ;
LOCATE COMP "rowsr_in[0]" SITE "56" ;
LOCATE COMP "rowsr_in[1]" SITE "57" ;
LOCATE COMP "rowsr_in[2]" SITE "58" ;
LOCATE COMP "rowsr_in[3]" SITE "59" ;
IOBUF PORT "col0l_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "col1l_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "col2lt_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "col2l_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "col3l_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "col4l_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "col0r_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "col1r_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "col2r_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "col3r_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "col4r_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rowsl_in[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rowsl_in[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rowsl_in[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rowsl_in[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rowsr_in[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rowsr_in[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rowsr_in[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rowsr_in[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "disp_res_n_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "disp_cs_n_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "disp_sck_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "disp_addr_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "disp_data_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "txd_o" IO_TYPE=LVCMOS33 ;


LOCATE COMP "ra_o[3]" SITE "11";
LOCATE COMP "ra_o[2]" SITE "12";
LOCATE COMP "ra_o[1]" SITE "13";
LOCATE COMP "ra_o[0]" SITE "14";
LOCATE COMP "fetch_op0_o" SITE "15";

IOBUF PORT "ra_o[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ra_o[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ra_o[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ra_o[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fetch_op0_o" IO_TYPE=LVCMOS33 ;

USE PRIMARY NET "ws/clk_div[1]" ;
BLOCK JTAGPATHS;
